* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: $primary-font;
    font-weight: 400;
    color: $color-black;
}
a {
    text-decoration: none;
    &:hover{
        color: $color-black !important;

    }
}
div{
    color: $color-black;
}
.row{
    margin: 0;
}
textarea {
    resize: none;
  }