.btn {
    text-transform: uppercase;
}

.btn--green {
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 2.18rem 0.43rem 2.18rem;
    font-size: 0.93rem;
    font-weight: 700;
    background: $color-green;
    box-shadow: 0px 4px 24px rgba(196, 197, 195, 0.25);
    margin-left: auto;

    @include breakpoint (custom-small-mobile-max) {
        padding: 0.5rem 1.48rem 0.43rem 1.48rem;
    }

}

.btn--blue {
    width: 8.93rem;
    height: 1.87rem;
    background: $color-blue;
    border-radius: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    color: $color-white;
    margin-left: 1rem;
    @include breakpoint (ipad-max){
        margin-right: 1rem;
    }
    @include breakpoint (mobile-max){
        margin-right: 0.5rem;
    }
}

.btn--dark {
    font-weight: 600;
    font-size: 0.5rem;
    color: $color-white;
    padding: 0.06rem 0.25rem 0.05rem 0.25rem;
    margin-top: 2.48rem;
    background: $color-grey;
    border-radius: 1.3rem;
    width: 4.15rem;
}

.btn--lightgrey {
    font-size: 0.5rem;
    font-weight: 600;
    color: $color-charcoal;
    background: $color-light-grey;
    border-radius: 1.25rem;
    width: 2rem;
    padding: 0;
    position: absolute;
    top: 1.02rem;
    right: 1rem;
}

.btn--grey {
    font-size: 0.5rem;
    font-weight: 600;
    background: rgba(77, 77, 77, 0.1);
    border-radius: 1.25rem;
    padding: 0;
    position: absolute;
    top: 1.02rem;
    right: 1rem;
    color: $color-grey;
    width: 2.82rem;
}

.btn--lightblue {
    font-size: 00.625rem;
    font-weight: 600;
    color: $color-white;
    background: $color-blue;
    padding: 0.68rem 1rem 0.62rem 1rem;
    border-radius: 0.61rem;
    border-color: transparent;
    margin-top: 1.93rem;
    margin-left: 2.19rem;
}

.btn--active {
    background: $color-green;
    border-radius: 1.25rem;
    font-weight: 600;
    font-size: 00.5rem;
    color: $color-white;
    height: 0.87rem;
    width: 2.87rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--inactive {
    background: $color-red;
    border-radius: 1.25rem;
    font-weight: 600;
    font-size: 00.5rem;
    color: $color-white;
    height: 0.87rem;
    width: 3.82rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn--lightmode{
    background-color: $color-white;
    border: none;
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 4.1rem;
}