.card {
    padding: 1.68rem 0 1.3rem 1.37rem;
    border-radius: 0.62rem;
    box-shadow: 0 0.25rem 1.5rem rgba(196, 197, 195, 0.25);
    border-color: transparent;
    width: 12.25rem;
    position: relative;
    z-index: -2;
    &:nth-last-child(1) {
        display: none;
    }

    &__img {
        width: max-content;
    }

    &__heading {
        font-weight: 700;
        color: $color-black;
        font-size: 0.87rem;
        line-height: 1.2rem;
        margin-bottom: 0.25rem;
        margin-top: 0.62rem;

    }

    &__text {
        line-height: 0.92rem;
        font-size: 0.68rem;
        font-weight: 400;
        color: $color-black;
        max-width: 9.4rem;
        margin-bottom: 0;
    }

    &__plusicon {
        color: $color-light-marron;
    }
}

.aside.active .card {
    &:nth-last-child(1) {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        background: $color-whitesmoke;
        height: 4.68rem;
        width: 4.68rem;
        border-radius: 0.625rem;
        font-size: 1.81rem;
    }
}

.wrapper {
    width: 61.3%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.62rem;
    column-gap: 0.93rem;

    @include breakpoint (desktop-max) {
        width: 100%;
    }

    @include breakpoint (ipad-max) {
        width: 100%;
    }

    &__heading {
        line-height: 1rem;
        color: rgba(0, 0, 0, 0.3);
        font-size: 0.75rem;
        font-weight: 400;
        margin-top: 2.44rem;
        margin-bottom: 0.5rem;
    }
}

.primarycard {
    width: 100%;
    height: 15rem;
    z-index: -2;
    @include breakpoint (desktop-max) {
        width: 74%;
    }

    &::after {
        position: absolute;
        content: "";
        left: 0;
        width: 0.12rem;
        height: 11.56rem;
        background: $color-green;
        border-bottom: 2px solid $color-green;
    }
}

.aside {
    &.active .tab-content .tab-pane .primarycard {
        width: 12.25rem;
        height: 163px;
    }

    &.active .tab-content .tab-pane .primarycard::after {
        left: 5.93rem;
        top: 4.25rem;
        transform: rotate(90deg);
        transition: 0.1s ease-in;
    }

    &.active .tab-content .tab-pane .primarycard .btn--dark {
        margin: 0;
        position: absolute;
        top: 1.02rem;
        right: 1rem;
    }

    &.active .wrapper {
        width: 58.3%;
        @include breakpoint (desktop-max) {
            width: 78%;
        }
        @include breakpoint (mobile-max) {
            width: 100%;
        }
    }
}








// @media (max-width: 768px) {
//     #sidebar {
//         min-width: 80px;
//         max-width: 80px;
//         text-align: center;

//     }

//     #sidebar.active {

//     }
//     #sidebar .dashboard__logo h3,
//     #sidebar .CTAs {
//         display: none;
//     }
//     #sidebar .dashboard__logo strong {
//         display: block;
//     }
//     #sidebar ul li a {
//         padding: 20px 10px;
//     }
//     #sidebar ul li a span {
//         font-size: 0.85em;
//     }
//     #sidebar ul li a i {
//         margin-right: 0;
//         display: block;
//     }
//     #sidebar ul ul a {
//         padding: 10px !important;
//     }
//     #sidebar ul li a i {
//         font-size: 1.3em;
//     }
//     #sidebar {
//         margin-left: 0;
//     }
//     #sidebarCollapse span {
//         display: none;
//     }
// }