.dashboard {
    display: flex;
    align-items: stretch;

    &__nav {
        width: 20.2%;
        background: $color-whitesmoke;
        transition: all 0.3s;
        position: relative;
        transition: all 2s;
    }

    &__unorderdlist {
        margin-top: 3.06rem;
        margin-bottom: auto;
    }
}

//small active navbar
.dashboard__nav {
    &.active {
        min-width: 4.18rem;
        max-width: 4.18rem;
        text-align: center;
        background: $color-dark-green;
        transition: all 4s;
    }

    &.active .dashboard__unorderdlist .nav-item .nav-link {
        padding: 0 0 1.25rem 0;
        justify-content: center;
        font-size: 0.85em;
    }

    &.active .dashboard__unorderdlist .nav-item a .nav-img {
        padding: 0;
    }

    &.active .dashboard__unorderdlist .nav-item a span {
        display: none;
    }

    &.active .profile .profile__content .rounded-circle {
        border: 0.006rem solid $color-white;
    }

    &.active .profile .profile__content .profile__heading {
        display: none;
    }

    &.active .profile .profile__content .profile__icon {
        display: none;
    }

    &.active .dashboard__unorderdlist .nav-item a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    &.active .profile .profile__content::before {
        width: 2.93rem;
    }

    &.active .profile .dropdown-menu::after {
        right: 139px;
    }

    &-round {
        position: absolute;
        right: -0.93rem;
        top: 6.81rem;
        height: 1.87rem;
        width: 1.87rem;
        background: $color-green;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

//profile block
.profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.75rem;
        padding-bottom: 1.18rem;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 12.62rem;
            border-top: 0.006rem solid rgba(0, 0, 0, 0.1);
            @include breakpoint (desktop-max){
                width: 10rem;
            }
            @include breakpoint(ipad-max){
                width: 9rem;
            }
            @include breakpoint (mobile-max) {
                width: 6.62rem;
            }
        }
    }

    &__heading {
        font-size: 0.81rem;
        width: 6.12rem;
        font-weight: 600;
        color: $color-black;
        line-height: 1rem;

        @include breakpoint (mobile-max) {
            font-size: 0.61rem;
            width: 4rem;
        }
    }

    &__subheading {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.7);

        @include breakpoint (mobile-max) {
            font-size: 0.55rem;
        }
    }

    &__icon {
        width: 1.12rem;
        height: 1.12rem;
        background: $color-white;
        border-radius: 50%;
        color: $color-black;
        text-align: center;
    }
}

//reminder block
.dashboard__reminder {
    width: 19.37rem;
    padding: 2.06rem 1.06rem 0 1.25rem;
    display: none;
    z-index: -1;
    box-shadow: 0px 4px 44px rgba(194, 194, 194, 0.25);
    position: absolute;
    top: 0;
    right: 0;

    &-date {
        font-weight: 600;
        line-height: 1rem;
        font-size: 0.75rem;
        color: $color-black;
        padding-bottom: 1.06rem;
    }

    &-subdate {
        font-size: 0.68rem;
        line-height: 0-0.93rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding-top: 0.7rem;
    }

    &-heading {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.37rem;
        color: $color-black;
    }

    &-subheading {
        line-height: 1rem;
        color: rgba(0, 0, 0, 0.7);
        font-size: 00.75rem;
        font-weight: 400;
    }

    &-filters {
        display: inherit;
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }

    &-all {
        font-size: 1rem;
        font-weight: 400;
        color: $color-black;
        margin: 0;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.75rem 0 0.75rem 0;
    }

    &-sublist {
        display: flex;
    }

    &-circle {
        width: 1.87rem;
        height: 1.87rem;
        border-radius: 50%;
        background: $color-skyblue;
        padding: 0.5rem;
        color: $color-black;
        font-weight: 700;
        font-size: 0.67rem;
    }

    &-text {
        font-size: 0.62rem;
        font-weight: 400;
        color: $color-black;
        margin-left: 0.81rem;
    }

    &-strongtext {
        font-size: 0.68rem;
        color: $color-black;
        font-weight: 700;
        margin-bottom: 0.121rem;
    }

    &-time {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 400;
        font-size: 0.56rem;
    }

    &-paragraph {
        margin: 0;
    }

    &-blank {
        padding: 1.63rem;
    }
}

//navbar logo css
.dashboard {
    &__nav.active &__logo &__logo-heading {
        display: none;
    }

    &__nav.active &__logo &__logo-smallheading {
        display: block;
    }

    &__nav.active &__nav-round {
        background: black;
        color: $color-white;
        transform: rotate(180deg);
    }

    &__nav &__logo {
        padding: 2.06rem 0 0 1.43rem;

    }

    &__logo-heading {
        font-size: 1.68rem;
        font-weight: 700;
        position: relative;

        @include breakpoint (mobile-max) {
            font-size: 1.3rem;
        }

        &::after {
            content: "";
            height: 0.45rem;
            width: 0.45rem;
            border-radius: 50%;
            background: $color-green;
            position: absolute;
            right: 5.3rem;
            top: 1.25rem;

            @include breakpoint (desktop-max) {
                right: 1.4rem;
            }

            @include breakpoint (mobile-max) {
                right: 0.6rem;
            }
        }
    }

    &__logo-smallheading {
        font-size: 2rem;
        font-weight: 700;
        color: $color-white;
        margin-right: 1.5rem;
        position: relative;

        &::after {
            content: "";
            height: 0.4rem;
            width: 0.4rem;
            border-radius: 50%;
            background: $color-light-green;
            position: absolute;
            left: 1.25rem;
            bottom: 0.24rem;
        }
    }

    &__nav &__logo &__logo-smallheading {
        display: none;
        font-size: 1.8em;
    }

    &__nav &__unorderdlist .nav-itemi .nav-link:hover {
        font-weight: 700;
    }
}

//aside section
.aside {
    width: 100%;
    padding: 1.31rem 0 0 2.56rem;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;

}

.aside.active {
    padding: 1.31rem 0 0 5.5rem;
    transition: all 0.3s;

    @include breakpoint (desktop-max) {
        padding: 1.31rem 0 0 2rem;
    }

    @include breakpoint (mobile-max) {
        padding: 1.31rem 0 0 2.56rem;
    }
}


//assesment master page 
.master {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0.25rem 2.12rem rgba(216, 226, 196, 0.17);
    align-items: center;
    width: 58.75rem;
    margin-left: 2.25rem;
    max-height: 5.5rem;
    margin-top: 0.56rem;
    margin-bottom: 1.06rem;
    border-radius: 00.625rem;
    position: relative;

    &:nth-child(2)::before {
        content: "";
        height: 6.063rem;
        width: 0.006rem;
        position: absolute;
        /* top: auto; */
        bottom: 2rem;
        left: -0.69rem;
        background: #000;
        @include breakpoint (ipad-max){
            height: 9rem;
            bottom: 5rem;
        }
    }

    @include breakpoint (desktop-max) {
        width: 48.75rem;
    }
    @include breakpoint (ipad-max) {
        width: 45rem;
        height: 7.5rem;
        min-height: 7.5rem;
        padding: 0.5rem;
    
    }
    @include breakpoint (mobile-max) {
        width: 34.1rem;
        height: 7.5rem;
        min-height: 7.5rem;
        padding: 0.5rem;
    
    }

    &:before {
        content: "";
        height: 4.68rem;
        width: 0.006rem;
        background: rgba(106, 165, 0, 1);
        position: absolute;
        left: 0;
    }

    &::after {
        content: "";
        height: 0.006rem;
        width: 0.688rem;
        background: $color-black;
        position: absolute;
        left: -0.69rem;
        top: 2.46rem;
    }

    &content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2rem;
        width: 58.75rem;
        margin-left: 2.25rem;
        align-items: center;

        @include breakpoint (desktop-max) {
            width: 48.75rem;
        }
        @include breakpoint (ipad-max){
            width: 45rem;
        }
        @include breakpoint (mobile-max) {
            width: 34.1rem;
        }
    }
    &__name {
        width: 13.37rem;
        @include breakpoint (ipad-max) {
            width: 11.3rem;
        }
        @include breakpoint (mobile-max) {
            width: 5.5rem;
        }

        &-heading {
            line-height: 1rem;
            font-size: 0.75rem;
            color: rgba(0, 0, 0, 0.7);
            font-weight: 700;
            padding-top: 1rem;
        }

        &-paragraph {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.7);
            font-size: 0.56rem;
        }
    }

    &__heading {
        font-weight: 600;
        line-height: 1rem;
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.4);
    }

    &__client {
        width: 10.94rem;

        @include breakpoint (mobile-max) {
            width: 6.9rem;
        }
    }

    &__rating {
        width: 6rem;
        display: flex;
        justify-content: center;

        &-switch {
            display: none;
        }

        &-switchlabel {
            display: block;
            width: 2.12rem;
            height: 0.87rem;
            background: rgba(134, 188, 36, 0.2);
            border-radius: 1.25rem;
            position: relative;
            cursor: pointer;
        }

        &-switchlabel::after {
            content: "";
            width: 1.18rem;
            height: 1.18rem;
            position: absolute;
            top: -0.125rem;
            border-radius: 50%;
            background: $color-green;
            box-shadow: 0 0.25rem 1.5rem rgb(0 0 0 / 25%);
            border-radius: 50%;
        }

        &-switch:checked+&-switchlabel:after {
            left: calc(100% - 1rem);
            transform: translateX(-13%);
            background: $color-white;
        }

        &-switch:checked+&-switchlabel {
            background-color: $color-light-marron;
        }
    }

    &__module {
        width: 2.75rem;
    }

    &__domain {
        width: 4.37rem;
    }

    &__status {
        width: 4.37rem;
    }

    &__action {
        width: 2.5rem;
    }

}

//container management page
.appcard {
    width: 9.87rem;
    background: $color-dark-green;
    color: $color-white;
    box-shadow: 0 0.25rem 1.5rem $color-light-grey;
    border-radius: 0.62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.68rem 0;
    position: relative;

    &wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;
    }

    &__title {
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0;
    }

    &__text {
        font-weight: 400;
        font-size: 0.68rem;
        margin: 0;
    }

    &__roundshape-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 0.06rem solid $color-light-grey;
        background: $color-white;
        position: absolute;
        top: -0.5rem;
    }

    &__roundshape-icon {
        color: rgba(0, 0, 0, 0.4);
        font-size: 0.48rem;
    }

    &__roundshape-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 0.06rem solid $color-light-grey;
        background: $color-white;
        position: absolute;
        bottom: -0.5rem;

    }

    &__roundshape-horizontal_line {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0.375rem;
        height: 2.125rem;
        background-color: $color-green;
    }

    &__roundshape-vline {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 0.006rem;
        height: 3.125rem;
        background-color: $color-green;
        right: 0.43rem;
    }

    &__roundshape-leftline {
        border-right: 0.006rem solid $color-green;
        border-bottom: 0.006rem solid $color-green;
        -webkit-border-bottom-right-radius: 1.875rem;
        -moz-border-radius-bottomright: 1.875rem;
        border-bottom-right-radius: 1.875rem;
        position: absolute;
        bottom: -0.8125rem;
        width: 14rem;
        height: 1.25rem;
        right: 0.17rem;
        bottom: 0;
    }

    &__roundshape-rightline {
        border-left: 0.006rem solid $color-green;
        border-bottom: 0.006rem solid $color-green;
        -webkit-border-bottom-left-radius: 1.875rem;
        -moz-border-radius-bottomleft: 1.875rem;
        border-bottom-left-radius: 1.875rem;
        position: absolute;
        bottom: -0.8125rem;
        width: 14rem;
        height: 1.25rem;
        left: 0.375rem;
        bottom: 0;
    }

    &__roundshape-rightcurve {
        position: absolute;
        top: 1.16rem;
        right: -1.625rem;
        width: 3.125rem;
        height: 4.5625rem;
        border-top: 0.006rem solid $color-green;
        border-right: 0.006rem solid $color-green;
        -webkit-border-top-right-radius: 1.875rem;
        -moz-border-radius-topright: 1.875rem;
        border-top-right-radius: 1.875rem;
    }

    &__roundshape-leftcurve {
        position: absolute;
        top: 1.16rem;
        left: -1.625rem;
        width: 3.125rem;
        height: 4.5625rem;
        border-top: 0.006rem solid $color-green;
        border-left: 0.006rem solid $color-green;
        -webkit-border-top-left-radius: 1.875rem;
        -moz-border-radius-topleft: 1.875rem;
        border-top-left-radius: 1.875rem;
    }


}

.premcard {
    width: 9.87rem;
    background: $color-white;
    color: $color-black;
    border-radius: 0.62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.68rem 0;
    position: relative;
    border: 0.006rem solid $color-light-wheat;
    box-shadow: 0 0.25rem 1.5rem rgba(196, 197, 195, 0.25);

    &wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5rem;
        justify-content: center;
        margin-top: 2.79rem;

        @include breakpoint (desktop-max) {
            column-gap: 3rem;
        }

        @include breakpoint (ipad-max) {
            column-gap: 3rem;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 0.68rem;
    }

    &__text {
        margin: 0;
        font-weight: 400;
        font-size: 0.68rem;
    }
}

.subcard {
    width: 10.37rem;
    background: $color-white;
    color: $color-black;
    border-radius: 0.62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.68rem 0;
    position: relative;
    border: 0.006rem solid $color-light-wheat;
    box-shadow: 0 0.25rem 1.5rem rgba(196, 197, 195, 0.25);

    &:nth-child(1) {
        &::before {
            content: "";
            height: 3.2rem;
            width: 0.006rem;
            position: absolute;
            top: -3.6rem;
            left: 5.15rem;
            background: $color-green;
        }
    }

    &wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.625rem;
        justify-content: center;
        width: 87%;
        margin-top: 4rem;

        @include breakpoint (desktop-max) {
            justify-content: center;
            width: 90.5%;
        }

        @include breakpoint (mobile-max) {
            width: 100%;
            justify-content: stretch;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 0.68rem;
        margin: 0;
        text-align: center;
        width: 80%;
    }

    &__text {
        font-weight: 400;
        font-size: 0.68rem;
        margin: 0;
    }

    &__cuticon {
        font-size: 0.42rem;
        position: absolute;
        top: 0.34rem;
        right: 0.62rem;
        font-weight: 500;
    }

    &__roundshape-horizontal_line {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0.375rem;
        width: 0.006rem;
        height: 2.125rem;
        background-color: $color-green;
    }

    &__roundshape-leftline {
        right: -0.1rem;
        border-right: 0.006rem solid $color-green;
        border-bottom: 0.006rem solid $color-green;
        -webkit-border-bottom-right-radius: 1.875rem;
        -moz-border-radius-bottomright: 1.875rem;
        border-bottom-right-radius: 1.875rem;
        position: absolute;
        bottom: -0.8125rem;
        width: 5.25rem;
        height: 1.25rem;
    }

    &__roundshape-rightline {
        border-left: 0.006rem solid $color-green;
        border-bottom: 0.006rem solid $color-green;
        -webkit-border-bottom-left-radius: 1.875rem;
        -moz-border-radius-bottomleft: 1.875rem;
        border-bottom-left-radius: 1.875rem;
        position: absolute;
        bottom: -0.8125rem;
        width: 5.25rem;
        height: 1.25rem;
    }

}

//project status
.project {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.81rem;
    column-gap: 1.31rem;
    margin-top: 3rem;
    margin-left: 1.87rem;

    &__card {
        z-index: auto;
        width: 18.18rem;
        height: 10.25rem;
        background: $color-white;
        box-shadow: 0 0.25rem 2.12rem rgba(0, 0, 0, 0.05);
        border-radius: 1.25rem;
        padding-top: 2.31rem;
        position: relative;

        @include breakpoint (desktop-max) {
            width: 14.18rem;
        }

        @include breakpoint (desktop-max) {
            width: 11rem;
        }

        &::before {
            content: "";
            height: 1.87rem;
            width: 0.188rem;
            background: rgba(49, 49, 49, 1);
            position: absolute;
            top: 2rem;
            left: -0.188rem;
            z-index: -1;
        }

        &::after {
            content: "";
            height: 0.06rem;
            width: 2.06rem;
            background: $color-black;
            position: absolute;
            top: 2.9rem;
            left: -2.06rem;
            z-index: -1;
        }

        &:first-child {
            width: 17.62rem;

            @include breakpoint (desktop-max) {
                width: 13rem;
            }

            &::before {
                top: 4.2rem;
            }

            &::after {
                top: 5.15rem;
            }
        }

        &:nth-child(2) {
            padding-left: 0.56rem;
        }

        &:nth-child(3) {
            padding-left: 0.25rem;
        }

        &:nth-last-child(1) {
            @include breakpoint (mobile-max) {
                &::before {
                    content: "";
                    height: 0.188rem;
                    width: 1.87rem;
                    background: #313131;
                    position: absolute;
                    top: 0;
                    left: 2rem;
                    z-index: 0;
                }

                &::after {
                    content: "";
                    height: 2.06rem;
                    width: 0.006rem;
                    background: #000;
                    position: absolute;
                    top: -32px;
                    left: 48px;
                    z-index: -1;
                }
            }
        }

        &-primary {
            width: 57.12rem;
            height: 10.25rem;
            background: $color-white;
            box-shadow: 0 0.25rem 2.12rem rgba(0, 0, 0, 0.05);
            border-radius: 2.31rem;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 0;

            @include breakpoint (desktop-max) {
                width: 39.12rem;
            }

            @include breakpoint (mobile-max) {
                width: 33.5rem;
            }

            &::before {
                content: "";
                height: 14.43rem;
                width: 0.006rem;
                position: absolute;
                background: $color-black;
                top: 0.5rem;
                left: -2.06rem;
            }
        }

        &-review {
            position: relative;
            padding-top: 1.12rem;
            margin-top: 2.3rem;
            border-top: 0.006rem dashed $color-green;
            width: 13.07rem;
            padding-left: 2.7rem;

            @include breakpoint(portrait-mobile-max) {
                width: 8.07rem;
                padding-left: 0.7rem;
            }
        }

        &-roundfirst {
            height: 1.68rem;
            width: 1.68rem;
            background: $color-green;
            border-radius: 50%;
            position: absolute;
            top: -0.86rem;
            left: 2.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-datalist {
            margin-bottom: 0.188rem;
        }

        &-description {
            font-size: 0.62rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 0.313rem;
        }

        &-time {
            font-size: 0.62rem;
            font-weight: 700;
            color: $color-black;
        }

        &-response {
            position: relative;
            padding-top: 1.12rem;
            margin-top: 2.3rem;
        }

        &-roundsecond {
            height: 1.68rem;
            width: 1.68rem;
            background: $color-green;
            border-radius: 50%;
            position: absolute;
            top: -0.86rem;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-icon {
            color: $color-white;
            font-size: 0.7rem;
        }

        &-title {
            font-size: 00.75rem;
            font-weight: 600;
            color: $color-black;
        }

        &-text {
            font-weight: 600;
            font-size: 1rem;
            color: $color-black;
            padding-left: 1.75rem;

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: end;
            }
        }

        &-covidlabel {
            display: block;
            text-align: end;
            padding-right: 1.7rem;
            font-size: 0.75rem;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 0.62rem;
        }

        &-assesmentlabel {
            display: block;
            text-align: end;
            padding-right: 1.7rem;
            font-size: 0.75rem;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.4);
            margin-top: 1.56rem;
            margin-bottom: 0.62rem;
        }
    }
}

progress[value] {
    margin-left: 1.75rem;
    width: 10.25rem;
    height: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    height: 0.5rem;
    width: 7.25rem;
    background: rgba(208, 208, 206, 1);
    border-radius: 0.625rem;

    @include breakpoint (ipad-max) {
        width: 8rem;
    }
}

progress::-webkit-progress-value {
    display: inline-block;
    float: left;
    height: 0.5rem;
    background: rgba(0, 171, 171, 1);
    border-radius: 0.625rem;
    background-image: repeating-linear-gradient(135deg,
            rgba(0, 171, 171, 1),
            rgba(0, 171, 171, 1) 8px,
            rgba(0, 171, 171, 1) 8px,
            rgba(255, 255, 255, 0.5) 15px);
}