body.light-mode {
    background-color: $color-dark;
    color: $color-white;
    a {
      color: $color-light-grey;
    }
    button , select{
     background: rgba(245, 245, 245, 0.10);
     color: $color-whitesmoke;;
    }
    nav {
      background-color: $color-light-dark;
    }
    strong{
        color: #d0d0d0;
    }
    header h2{
        color: $color-light-white;
    }
    h5{
       color: $color-light;
    }
    .card,h3,p{
        background:$color-darkgrey;
        color: $color-whitesmoke;
        box-shadow: none;
    }
  }
body.dark-mode{
    background-color: $color-white;
    color: $color-dark;
}