.header {
    &__heading {
        font-size: 1.25rem;
        font-weight: 700;
        color: $color-black;
        line-height: 1.68rem;
        margin: 0;
    }

    &__subheading {
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.94rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin: 0;
    }
}
.aside.active .tab-content .tab-pane .header__left-arrow{
display: none;
}