.dashboard {
    display: flex;
    align-items: stretch;
}

.dashboard__nav {
    width: 20.2%;
    background: $color-whitesmoke;
    transition: all 0.3s;
    position: relative;
}

.dashboard__unorderdlist {
    margin-top: 3.06rem;
    margin-bottom: auto;
}

//small active navbar

.dashboard__nav.active {
    min-width: 4.18rem;
    max-width: 4.18rem;
    text-align: center;
    background: $color-dark-green;
}

.dashboard__nav.active ul li a {
    padding: 0 0 1.25rem 0;
    text-align: center;
    font-size: 0.85em;
}

.dashboard__nav.active ul li a .nav-img {
    padding: 0;
}

.dashboard__nav.active ul li a span {
    display: none;
}

.dashboard__nav.active .profile .profile__content .rounded-circle {
    border: 1px solid $color-white;
}

.dashboard__nav.active .profile .profile__content strong {
    display: none;
}

.dashboard__nav.active .profile .profile__content i {
    display: none;
}

.dashboard__nav.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.dashboard__nav.active .profile .profile__content::before {
    width: 2.93rem;
}

.dashboard__nav.active .profile .dropdown-menu::after {
    right: 139px;
}

.dashboard__nav-round {
    position: absolute;
    right: -0.93rem;
    top: 6.81rem;
    height: 1.87rem;
    width: 1.87rem;
    background: $color-green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.profile__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 1.18rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 12.62rem;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

}

.profile__heading {
    font-size: 0.81rem;
    width: 6.12rem;
    font-weight: 600;
    color: $color-black;
    line-height: 1rem;
}

.profile__subheading {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.profile__icon {
    width: 1.12rem;
    height: 1.12rem;
    background: $color-white;
    border-radius: 50%;
    color: $color-black;
    text-align: center;
}

.dashboard__reminder {
    width: 19.37rem;
    padding: 2.06rem 1.06rem 0 1.25rem;
    display: none;
    z-index: -1;
    box-shadow: 0px 4px 44px rgba(194, 194, 194, 0.25);
    position: absolute;
    top: 0;
    right: 0;
}

.dashboard__reminder-date {
    font-weight: 600;
    line-height: 1rem;
    font-size: 0.75rem;
    color: $color-black;
    padding-bottom: 1.06rem;
}

.dashboard__reminder-subdate {
    font-size: 0.68rem;
    line-height: 0-0.93rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.dashboard__reminder-content {
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
}

.dashboard__reminder-heading {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.37rem;
    color: $color-black;
}

.dashboard__reminder-subheading {
    line-height: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-size: 00.75rem;
    font-weight: 400;
}

.dashboard__reminder-filters {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.dashboard__reminder-all {
    font-size: 1rem;
    font-weight: 400;
    color: $color-black;
    margin: 0;
}

.dashboard__reminder-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.75rem 0 0.75rem 0;
}

.dashboard__reminder-sublist {
    display: flex;
}

.dashboard__reminder-circle {
    width: 1.87rem;
    height: 1.87rem;
    border-radius: 50%;
    background: $color-skyblue;
    padding: 0.5rem;
    color: $color-black;
    font-weight: 700;
    font-size: 0.67rem;
}

.dashboard__reminder-text {
    font-size: 0.62rem;
    font-weight: 400;
    color: $color-black;
    margin-left: 0.81rem;
}

.dashboard__reminder-strongtext {
    font-size: 0.68rem;
    color: $color-black;
    font-weight: 700;
    margin-bottom: 0.121rem;
}

.dashboard__reminder-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 0.56rem;
}

.dashboard__reminder-paragraph {
    margin: 0;
}

.dashboard__reminder-blank {
    padding: 1.63rem;
}

.dashboard__nav.active .dashboard__logo h3 {
    display: none;
}

.dashboard__nav.active .dashboard__logo strong {
    display: block;
}

.dashboard__nav.active .dashboard__nav-round {
    background: black;
    color: $color-white;
    transform: rotate(180deg);
}

.dashboard__nav .dashboard__logo {
    padding: 2.06rem 0 0 1.43rem;

}

.dashboard__logo-heading {
    font-size: 1.68rem;
    font-weight: 700;
    position: relative;

    &::after {
        content: "";
        height: 0.45rem;
        width: 0.45rem;
        border-radius: 50%;
        background: $color-green;
        position: absolute;
        right: 5rem;
        top: 1.25rem;
    }
}

.dashboard__logo-smallheading {
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
    margin-right: 1.5rem;
    position: relative;

    &::after {
        content: "";
        height: 0.4rem;
        width: 0.4rem;
        border-radius: 50%;
        background: $color-light-green;
        position: absolute;
        left: 1.25rem;
        bottom: 0.24rem;


    }
}

.dashboard__nav .dashboard__logo strong {
    display: none;
    font-size: 1.8em;
}

.dashboard__nav ul li a:hover {
    font-weight: 700;
}

//aside section
.aside {
    width: 100%;
    padding: 1.31rem 0 0 3rem;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
}

.aside.active {
    padding: 1.31rem 0 0 5.5rem;
    transition: all 0.3s;
}


//assesment master page 
.master {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0.25rem 2.12rem rgba(216, 226, 196, 0.17);
    padding: 1.07rem 0 0 0;
    border: 1px solid red;
    width: 58.75rem;
    margin-left: 2.25rem;
    max-height: 5.5rem;
    margin-top: 0.56rem;
    margin-bottom: 1.06rem;
    &__name {
        width: 13.37rem;

        &-heading {
            line-height: 1rem;
            font-size: 0.75rem;
            color: rgba(0, 0, 0, 0.7);
            font-weight: 700;
        }

        &-paragraph {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.7);
            font-size: 0.56rem;
        }
    }

    &__heading {
        font-weight: 600;
        line-height: 1rem;
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.4);
    }

    &__client {
        width: 10.94rem;
    }

    &__rating {
        width: 6rem;
        display: flex;
        justify-content: center;
    }

    &__module {
        width: 2.75rem;
    }

    &__domain {
        width: 4.37rem;
    }

    &__status {
        width: 4.37rem;
    }

    &__action {
        width: 2.5rem;
    }

}

.mastercontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    width: 58.75rem;
    margin-left: 2.25rem;
}