/* #aa {

width: 100%;

clip-path: polygon(50% 0%, 100% 0, 100% 75%, 46% 89%, 0 100%, 0 0); */


* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'segoe ui';
}
.header-f {
    background: rgb(218, 90, 90);
    height: 2rem;
}
button#sub {
    position: relative;
    /* position: absolute; */
    
    left: -35px;
    border: none;
    background: transparent;
}
@media only screen and (width:1366px) {
    .nav {
        padding-left: 60px;
        padding-right: 50px;
    }
}
.dot {
    display: none;
}

/* @media only screen and (width:576px) {
  .img-div{
    position: absolute;
    top: 320%;
    left: 27%;
  }
} */
.nav {
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: relative;
}
input[type="text"] {
    border-radius: 20px;
    padding: 5px;
}
.nav>.nav-header {
    display: inline;
}
.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 15px;
    color: black;
    padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
    display: none;
}
.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
}
.nav>.nav-links>a:hover {
    color: red;
}
.nav>#nav-check {
    display: none;
}
@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #fff;
    }
    
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid black;
    }
    
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    
    .nav>#nav-check:checked~.nav-links {
        height: calc(60vh - 50px);
        overflow-y: auto;
    }
}
#zoom:hover {
    width: 400px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* slideshow start */
.slider-img {
    border-radius: none !important;
    padding-bottom: 20px;
    padding-bottom: 25px;
}
.s-slide {
    background: rgb(249, 249, 249);
}
.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    padding-top: 15px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* slideshow End */
.ss-pa {
    background: #fff;
    max-width: 100%;
    padding: 50px;
}
.avant {
    color: red
}
.list-sec {
    background: rgb(249, 249, 249);
    padding: 10px;
}

/* cards section start */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-color: #ecf9ff;
}
body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    letter-spacing: 0;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(245, 245, 245);
}
h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.testimonial {
    border-radius: 50%;
}
.btn {
    color: b;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #fff;
}
.btn:hover {}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards_item {
    display: flex;
    padding: 1rem;
}
@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards_item {
        width: 24.3333%;
    }
}
.card {
    background-color: rgb(245, 245, 245);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card_content {
    padding: 1rem;
}
.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}
.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}
#testimonial {
    background: rgb(245, 245, 245);
}

/* --------card section end --------------*/
#last11 {
    background: rgb(238, 92, 15);
    color: #fff;
    text-align: center;
    font-weight: 900;
}
#last112 {
    background: rgb(236, 123, 31);
    color: #fff;
    text-align: center;
    font-weight: 900;
}
#last113 {
    background: rgb(240, 148, 49);
    color: #fff;
    text-align: center;
    font-weight: 900;
}
.patient-img {
    background: rgb(238, 111, 14);
}
.img-div {
    text-align: center;
}
.slider-imgg {
    height: auto!important;
    width: 29%;
    position: relative;
    bottom: 10px;
    margin-bottom: -10px;
}
#mobile-nav {
    background-image: url("front.jpg");
    min-height: 380px;
    /* Center and scale the image nicely */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    
    position: relative;
    z-index: 50;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 46% 89%, 0 100%, 0 0);
}
.copyright {
    background: black;
    color: #fff;
    height: auto;
    width: 100%;
}
#footer-f {
    background: #e8ec04ad;
    color: rgb(0, 0, 0);
}
#footer-para {
    margin: 0px;
    padding: 2px;
    text-align: center;
}
ul li {
    list-style-type: none;
    padding-bottom: 20px;
}
#first-layer {
    float: right;
    text-align: center;
    display: inline;
}
.bt1 {
    background: transparent;
    border: none;
    padding: 8px;
}
.bt1:hover {
    background: red;
}
ol li {
    list-style-type: none;
    padding-bottom: 15px;
}
ol li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
h1:before {
    content: "• ";
    color: red;
}
h1:after {
    content: "• ";
    color: red
}
#middel-img-sec {
    float: right;
    padding: 0%;
}
.apprach {
    font-size: 42px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.focus {
    font-size: 35px;
    font-weight: 100;
    color: #fff;
}
p {
    word-wrap: break-word;
    text-align: justify;
    padding-left: 15px;
    padding-right: 66px;
    padding-bottom: 20px;
}
#icn1 {
    color: rgb(236, 123, 31);
}
ul {
    padding: 0 !important;
}
#foot {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
.justif {
    text-align: justify;
}
.justiff {
    text-align: inherit
}
.p111 {
    padding-left: 70px;
}
.The-Comfort {
    text-transform: uppercase;
    font-weight: bold;
}
#cardbtn {
    font-weight: bold;
}
button .btn #cardbtn:hover {
    background: black;
    color: red;
}
#lastbtn {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
#searchbar {
    width: 62%;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #e8ec04ad;
}
#sub1 {
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #fff;
    color: black;
    font-weight: 700;
    margin-left: -15px;
}
.gggg {
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: rgba(255, 255, 0, 0.808);
    color: black;
    margin-left: 47%;
    font-weight: 700;
    
    text-align: center;
}
.gg1 {
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: rgba(255, 255, 0, 0.808);
    color: black;
    font-weight: 700;
    text-align: center;
}